<div class="container">
  <div class="contents" *ngFor="let item of products">
    <div class="cartbutton">
      <a (click)="addtoFavourite(item.id,item.title)" class="heart" [ngClass]="{'favorite-heart': isFavorite(item.id,item.title)}"><fa-icon [icon]="faHeart"></fa-icon></a>
      </div>
    <div class="image">
      <img src="{{item.image}}" alt="">
    </div>
    <div class="title">
      <h3>{{item.title}}</h3>
    </div>
    <div class="details">
      <h3>{{item.details}}</h3>
    </div>
    <div class="price">
      <h4>{{item.price|currency:'INR'}}/Day</h4>
    </div>
    <div class="rentbutton">
      <button (click)="payment(item.id)">Rent</button>
    </div>
  </div>
  </div>
