<div class="form">
<form >
  <div>
    <label for="email">EmailId</label>
    <input type="email" name="emailId" [(ngModel)]="emailId" >
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" name="userName" [(ngModel)]="userName" >
  </div>
  <div *ngIf="valid">
    <label for="password">New Password</label>
    <input type="password" name="password" [(ngModel)]="password">
  </div>
  <div *ngIf="valid">
    <label for="password">Confrim Password</label>
    <input type="password" name="confrimPassword" [(ngModel)]="confrimPassword">
  </div>
  <div *ngIf="!valid">
    <button type="button" (click)="checkUser()">Check</button>
  </div>
  <div *ngIf="valid" >
    <button type="button"  (click)="changePassword()">Change</button>
  </div>
</form>
</div>
