.form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:600px;
  background-image: url("/assets/image/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
form{
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 13, 19, 0.847);
  border-radius: 10px;

}
h2{
  color: white;
}
div{
  margin-top: 20px;
}
form div label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
input{
  border-radius: 10px;
}
button{
  margin-bottom: 10px;
  background-color: rgba(4, 206, 4, 0.722);
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
