<div class="container">
  <div *ngFor="let item of products">
  <div class="contents" *ngIf="item.userid==userid">
    <div class="remove">
    <fa-icon [icon]="faSquareMinus" (click)="deleteFavourite(item.id)"></fa-icon>
    </div>
    <div class="image">
      <img src="{{item.image}}" alt="">
    </div>
    <div class="title">
      <h3>{{item.title}}</h3>
    </div>
    <div class="details">
      <h3>{{item.details}}{{item.productid}}</h3>
    </div>
    <div class="price">
      <h4>{{item.price|currency:'INR'}}/Day</h4>
    </div>
    <div class="rentbutton">
      <button (click)="payment(item.id)">Rent</button>
    </div>
  </div>
  </div>
</div>
