
<!-- -----------------------------------------------------content------------------------------------------------------------------------------- -->
<div class="home">
<div class="adminhome" *ngFor="let item of products">
  <div class="image">
    <img src="{{item.image}}" alt="">
  </div>
  <div class="title">
    <h3>{{item.title}}</h3>
  </div>
  <div class="discount">
    <h3>{{item.discount}}</h3>
  </div>
  <div class="slogan">
    <h4>{{item.slogan}}</h4>
  </div>
  <div>
    <button (click)="delete(item.id)">delete</button>
  </div>
</div>

<!-- --------------------------------Content Adding--------------------------------------------------------------------------------------------------------------- -->
<div class="homecontent">
  <form (submit)="addHomeItem()">
    <div>
      <label for="">Image URL:</label>
      <input type="text" name="URL" [(ngModel)]="image">
    </div>
    <div>
      <label for="">Title:</label>
      <input type="text" name="title" [(ngModel)]="title">
    </div>
    <div>
      <label for="">Discount:</label>
      <input type="text" name="discount" [(ngModel)]="discount">
    </div>
    <div>
      <label for="">Slogan:</label>
      <input type="text" name="slogan" [(ngModel)]="slogan">
    </div>

    <div>
      <label for="redirect">Redirect To:</label>
    <select name="redirect" id=""  [(ngModel)]="redirect">
      <option value="bike">bike</option>
      <option value="bike">car</option>
      <option value="bike">traveller</option>
      <option value="bike">digitalwatchs</option>
      <option value="bike">analogwatches</option>
      <option value="bike">DSLRcameras</option>
      <option value="bike">digitalcameras</option>
      <option value="bike">vediocameras</option>
      <option value="bike">partywaremens</option>
      <option value="bike">partywarewomens</option>
      <option value="bike">weddingwaremens</option>
      <option value="bike">weddingwarewomens</option>
      <option value="bike">refrigerator</option>
      <option value="bike">washingmachine</option>
      <option value="bike">aircooler</option>
      <option value="bike">mixer</option>
      <option value="bike">grinder</option>
    </select>
  </div>
    <div>
      <button class="addbtn">Add</button>
    </div>
  </form>
</div>

</div>




