
<!-- -----------------------------------------------------content------------------------------------------------------------------------------- -->
<div class="home">
<div class="adminhome" *ngFor="let item of products">
  <div class="image">
    <img src="{{item.image}}" alt="">
  </div>
  <div class="title">
    <h3>{{item.title}}</h3>
  </div>
  <div class="discount">
    <h3>{{item.discount}}</h3>
  </div>
  <div class="slogan">
    <h4>{{item.slogan}}</h4>
  </div>
  <div class="deletebutton">
    <button (click)="delete(item.id)">delete</button>
  </div>
</div>

<!-- --------------------------------Content Adding Form--------------------------------------------------------------------------------------------------------------- -->
<div class="homecontent">
  <form (submit)="addHomeItem()">
      <h2>Home Contents</h2>
    <div>
      <label for="">Image URL:</label>
      <input type="text" name="URL" [(ngModel)]="image">
    </div>
    <div>
      <label for="">Title:</label>
      <input type="text" name="title" [(ngModel)]="title">
    </div>
    <div>
      <label for="">Discount:</label>
      <input type="text" name="discount" [(ngModel)]="discount">
    </div>
    <div>
      <label for="">Slogan:</label>
      <input type="text" name="slogan" [(ngModel)]="slogan">
    </div>

    <div>
      <label for="redirect">Redirect To:</label>
    <select name="redirect" id=""  [(ngModel)]="redirect">
      <option value="bike">bike</option>
      <option value="car">car</option>
      <option value="traveller">traveller</option>
      <option value="digitalwatche">digitalwatches</option>
      <option value="analogwatches">analogwatches</option>
      <option value="DSLRcameras">DSLRcameras</option>
      <option value="digitalcameras">digitalcameras</option>
      <option value="vediocameras">vediocameras</option>
      <option value="refrigerator">refrigerator</option>
      <option value="washingmachine">washingmachine</option>
      <option value="aircooler">aircooler</option>
      <option value="mixer">mixer</option>
      <option value="grinder">grinder</option>
    </select>
  </div>
    <div>
      <button class="addButton">Add</button>
    </div>
  </form>
</div>

</div>




