<div class="form">
  <form [formGroup]="signupform" (submit)="submit()">
    <div class="h1">
      <h1>Create Account</h1>
    </div>
    <div>
      <input type="text" placeholder="Name" formControlName="username" [(ngModel)]="username" name="name">
    </div>
    <div>
      <input type="email" placeholder="Email id" formControlName="email" [(ngModel)]="emailid" name="emailid">
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="password" name="password">
    </div>
    <span *ngIf="signupform.controls['password'].errors?.['pattern'] && signupform.controls['password'].touched" style="color: red; text-align: center;">Enter minimum six inputs, one special character, one uppercase, one lowercase and one number</span>
    <div id="confrimpassword">
      <input type="password" placeholder="Confrim Password" formControlName="confrimpassword" [(ngModel)]="confrimpassword" name="confrimpassword">
    </div>
    <span *ngIf="confrimpassword!=password && signupform.controls['confrimpassword'].touched" style="color:red; text-align: center;">Password dosen't match above password</span>
    <div>
      <button [disabled]=" signupform.invalid || password=='' || password!=confrimpassword">Create Account</button>
    </div>
    <div class="back">
      <a routerLink="/login">Back to Login</a>
    </div>
  </form>
</div>




