<div class="paycontainer">
  <div class="paydetails" *ngFor="let item of details.reverse()" [ngStyle]="{'background-color': (item.orderstatus=='Cancelled') ? 'rgba(255, 0, 0, 0.2)' : ( item.orderstatus=='Order Declined') ? 'rgba(255, 0, 0, 0.2)' :( item.orderstatus=='Approval Pending') ? 'rgba(255, 255, 255, 0.826)': ( item.orderstatus=='Order Accepted') ? 'rgba(0, 128, 0, 0.2)' : 'white' }">

    <div class="image">
      <img src="{{item.image}}" alt="">
    </div>
    <div class="title">
      <h3>{{item.title}}</h3>
    </div>
    <div class="details">
      <h3>{{item.details}}</h3>
    </div>
    <div class="price">
      <h4>{{item.price|currency:'INR'}}/Day</h4>
    </div>
    <div>
      <h4>Name: {{item.username}}</h4>
    </div>
    <div>
      <h4>Mobile: {{item.mobile}}</h4>
    </div>
    <div>
      <h4>Address: {{item.address}}</h4>
    </div>
    <div>
      <h4>Idproof: {{item.idproof}}</h4>
    </div>
    <div>
      <h4>Rent From: {{item.Rentfrom}}</h4>
    </div>
    <div>
      <h4>Rent To: {{item.Rentto}}</h4>
    </div>
    <div>
      <h4>Total Days: {{item.Totaldays}}</h4>
    </div>
    <div>
      <h4>Total Amount: {{item.totalAmount}}</h4>
    </div>
    <div>
      <h4>Payment Type: {{item.Payment}}</h4>
    </div>
    <div>
      <h4>Userid: {{item.userid}}</h4>
    </div>
    <div>
      <h4>Order Status: {{item.orderstatus }}</h4>
    </div>
    <div class="orderbutton">
      <button class="orderAcceptButton" (click)="accept(item.id)" [disabled]="item.orderstatus=='Order Accepted' || item.orderstatus=='Order Declined'||item.orderstatus=='Cancelled'" >Accept</button>
      <button class="orderDeclineButton" (click)="decline(item.id)" [disabled]="item.orderstatus=='Order Accepted' || item.orderstatus=='Order Declined'||item.orderstatus=='Cancelled'">Decline</button>
    </div>
</div>
</div>


<!-- "username": "raghulsm",
"image": "assets\\image\\bikes\\bike2.png",
"title": "BMW S1000RR",
"details": "1000CC",
"address": "763B,Guruvareddiyur West, Guruvareddiyur, Anthiyur, Erode",
"idproof": "C:\\fakepath\\1.PNG",
"price": "2200",
"Rentfrom": "2023-05-12",
"Rentto": "2023-05-16",
"Totaldays": 4,
"totalAmount": 8800,
"Payment": "cash",
"id": 3 -->
